* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#E8E8E8;
}
.topo {
    background-color:#0E4D64;
    font-size: 28px;
    padding: 15px 20px;
    position: relative;
    color: #E8E8E8; 
}

.Conteudo{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    font-size: 25px;
    margin-top: 100px;
    padding: 10px 140px;
}


