* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#FFFADC;
    min-height: 100vh;
    position: relative;
    padding-bottom: 80px;
}
.titulo {
    background-color: #a0c532;
    color: #FFFADC;
    padding: 15px 20px;
    font-size: 28px;
    position: relative;
    text-align: left;
    width: 100%;
}
.title{
    margin: auto;
    text-align: center;
    color: #a0c532;
    font-size: 35px
}
button {
    background-color: #FFFADC;
    color: #a0c532;
    padding: 30px 36px;
    border: 2px solid #a0c532;
    border-radius: 12px;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
}
button:hover{
    background-color: #a0c532;
    color: #FFFADC;
}
.botoes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    max-width: 900px;
    margin: 20px auto;
    padding: 0 10px;
}
.botao-paginas {
    position: absolute;
    bottom: 10px;      
    right: 20px;      
    display: flex;  
    gap: 10px;        
}
.botao-paginas button {
    background-color: transparent;
    color: white;
    padding: 18px 22px;
    border-radius: 12px;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.botao-paginas button:hover {
    color: #778b39;
}
footer {
    background-color: #a0c532;
    color: white;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 25px;
}